*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --lblue: #b5ddff;
  --violet: #9792e4;
}


/* ------------------------------------ */
/* TYPO */
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}

h4{
    font-size: 17px;
}
/* ------------------------------------ */
/* COMMON */

.container{
    padding: 15px 30px;
}
.flex{
    display: flex;
}

.align-cnt{
    align-items: center;
}

.jcsb{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.row{
    width: 100%;
}

.col{
    width: 100%;
    background-color: var(--lblue);
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    padding: 35px 25px;
}

p{
    margin: 30px 0;
}

.button{
    padding: 15px 50px;
    color: white;
    border-radius: 20px;
}
/* ------------------------------------ */
/* HEADER */
header{
    background-color:var(--blue);
    color: white;
}
ul{
    list-style-type: none;
    display: none;
    align-items: center;
    gap: 1.5625rem;
}

li:last-child{
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

@media screen and (min-width:992px) {
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }  
    header ul{
        display: flex;
    }
    header i.fa-solid{
        display: none;
    }
}
/* ------------------------------------ */
/* MAIN */
/* 1st */

#first h3{
    color: var(--blue);
}

#first .col:first-child{
    text-align: left;
    padding-bottom: 0;
}
#first .col div:last-child{
    margin-top: 35px;
    width: 200px;
}
.col .button{
    background-color: var(--blue);
}

#first .col p{
    color: #5a6e7f;
}
#first .col i:not(.fa-brands){
    font-size: 80px;
    color: var(--blue);
    margin-bottom: 30px;
}
@media screen and (min-width:768px){
    .col:first-child{
        width: calc((100% / 3) * 2 );
       
    }
    .col{
        width: calc(100% / 3 - 20px );
        margin: 10px 0;
    }   
}
@media screen and (min-width:992px){
    #first .col:first-child{
        display: flex;
    }
    #first .col div:first-child{
        width: 50%;
    }
}
/* ------------------------------------ */
/* 2nd */
#second{
    background-color: var(--violet);
    padding-top: 50px;
    color: white;
}

#second h3{
    font-weight: bold;
    margin: 60px 0;
}
.sez-bianca{
    width: 100%;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding: 35px 20px;
    margin: 40px 0;
    color: black;
}

.sez-bianca p{
    margin-bottom: 30px;
}

.download{
    background-color: var(--violet);
    padding: 15px;
    border-radius: 50%;
    
}

@media screen and (min-width:992px){
    #second .container{
        display: flex;
        justify-content: center;
        gap: 80px;
    }
    #second .container > div{
        width: 40%;
        align-items: flex-end;
    }
   .block2{
    padding-top: 150px;
   }
}
/* ------------------------------------ */
/* 3RD */
#third{
    text-align: center;
}

#third h4{
    font-weight: lighter;
    margin: 40px 0;
}
#third h3{
    color: var(--violet);
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--violet);
    border-radius: 40px;
    width: 100%;
    margin: 30px 0;
    color: white;
    padding: 30px 0;
}
.img-test{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.n1{
    background-image: url(../img/testimonial1.jpg);
}
.n2{
    background-image: url(../img/testimonial2.jpg);
}
.n3{
    background-image: url(../img/testimonial3.jpg);
}

@media screen and (min-width:768px){
    .card{
        flex-direction: row;
        text-align: left;
        padding: 30px 15px;
    } 

    .card div:last-child{
        width: 65%;
        padding: 0 65px;
    }
}
/* ------------------------------------ */
/* 4TH */
#fourth{
    background-color: var(--violet);
    padding-top: 60px;
}
#fourth > h2{
    text-align: center;
    margin-bottom: 60px;
    color: white;
}
.benefits{
    width: 100%;
    background-color: white;
    margin: 20px 0;
    border-radius: 40px;
    padding: 45px 30px 30px;
}

.benefits h2 , .benefits h4{
    color: var(--violet);
    margin: 30px 0;
}

.benefits .button{
    background-color: var(--violet);
}
@media screen and (min-width:768px){
    .benefits{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (min-width:992px){
    .benefits{
        width: calc(100% / 3 - 20px);
    }
}
/* ------------------------------------ */
/* 5TH */
#fifth{
    padding: 60px 0;
}
.n4{
    background-image: url(../img/about.jpg);
    margin: 50px 0 30px;
}

.about h2{
    color: var(--violet);

}
.about p{
    line-height: 2em;
}
.about h3{
    color: var(--violet);
    margin-bottom: 30px;
}
.about a{
    color: white;
    background-color: var(--violet);
    padding: 10px;
}
@media screen and (min-width:768px){
    .about{
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }
    
    .n4{
        margin: 0;
    }

    .about p{
        margin: 50px 0;
    }
}
/* ------------------------------------ */
/* 6TH */

#sixth{
    background-color: var(--violet);
    text-align: center;
    color: white;
}

#sixth h4{
    font-weight: lighter;
    margin-bottom: 30px;
}
#sixth h2{
    color: gold;
    font-size: 70px;
    margin: 50px;
}
/* ------------------------------------ */
/* FOOTER */
footer{
    background-color: #333333;
    text-align: center;
    color: white;
}