*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --lblue: #b5ddff;
  --violet: #9792e4;
}


/* ------------------------------------ */
/* COMMON */

.container{
    padding: 15px 30px;
}
.flex{
    display: flex;
    
}

.align-cnt{
    align-items: center;
}

.jcsb{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

.row{
    width: 100%;
}

.col{
    width: 100%;
    background-color: var(--lblue);
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    height: 350px;
}
/* 
.button{
    padding: 15px 50px;
    color: white;
} */
/* ------------------------------------ */
/* HEADER */
header{
    background-color:var(--blue);
    color: white;
}
ul{
    list-style-type: none;
    display: none;
    align-items: center;
    gap: 1.5625rem;
}

li:last-child{
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

@media screen and (min-width:992px) {
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }  
    header ul{
        display: flex;
    }
    header i.fa-solid{
        display: none;
    }
}
/* ------------------------------------ */
/* MAIN */
/* 1st */
@media screen and (min-width:768px){
    .col:first-child{
        width: calc((100% / 3) * 2 );
       
    }
    .col{
        width: calc(100% / 3 - 20px );
        margin: 10px 0;
    }   
}

#second{
    background-color: var(--violet);
}

.sez-bianca{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 35px 20px;
    margin: 40px 0;
}

.download{
    background-color: var(--violet);
    padding: 15px;
    border-radius: 50%;
    
}

@media screen and (min-width:992px){
    #second .container{
        display: flex;
        justify-content: center;
    }
    #second .container > div{
        width: 30%;
    }
    .sez-bianca{
        align-self: flex-end;
    }
}